<div class="collapse" id="parameters_collapse">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-1">
            <p>Headers:</p>
        </div>
        <div class="col-sm-10">
            <textarea name="headers" id="headers" cols="120" rows="4">
                {
"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36",
}
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-1">
            <input id="proxy" class="cls-save" name="request.proxy" type="checkbox"> Proxy
        </div>
        <div class="col-sm-2">
            <input id="js" class="cls-save" name="request.js" type="checkbox"> JavaScript
        </div>
    </div>
</div>
